body{
margin: 0px;
padding: 0px;
background-color:beige;
height:fit-content ;
}

/* style general des fieldset */
fieldset{
    height: fit-content;
    margin-bottom: 10px;
} 

/* le wrraper est un div qui englobe  le container principale et le firecontainer */

.wrapper{
    display: flex;
}

/* style du  container principale  */

.container{
   
    padding: 10px;
    border: 3px;
    border-style: solid;
    border-color: black;
    width: 800px;
    height: fit-content;
    background-color: white;

}
/* style de la div qui contient le titre  */

.title{
    padding-left: 10px;
    padding-right: 10px;
    border: 3px;
    border-style: solid;
    border-color: black;
    text-align: center;
    background-color: rgb(119, 119, 248);
    width: 800px;
}

/*  style du  firecontainer */
/* animation bonus  */
#firecontainer{
    align-items: flex-end;
       width: 900px;
       height: 100vh;
   }